/* ---- NOSOTROS ---- */

.parrafos{
    padding-top: 20px;
}

.nosotros{
    container-name: adopta;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 100px;
}

.nosotros__header{
    margin-top: 7%;
    height: 7%;
    position: relative;
    overflow: hidden;

}

.nosotros__header-img{
    height: 65vh;
    width: 100%;
    object-fit: cover;
    
}

.nosotros__header-capa{
    position: absolute; /* Posiciona la capa sobre la imagen */
    top: 0; /* Alinea al borde superior */
    left: 0; /* Alinea al borde izquierdo */
    right: 0; /* Alinea al borde derecho */
    bottom: 0; /* Alinea al borde inferior */
    background:linear-gradient(to bottom, #ffffff00 60%, #ffffff99 100%)

}

.nosotros__header h1{
    margin: 0;
    position: absolute;
    bottom: 10px; /* Distancia desde el borde inferior */
    left: 50px; /* Distancia desde el borde izquierdo */
    font-size: 7rem; /* Tamaño de la fuente */
    font-family: 'syne', sans-serif;
    font-weight: 500;
    color: #101632dd;
}


.nosotros__presentacion{
    padding-top: 20px;
    padding-left: 80px;
    margin: auto;
    width: 80%;
    display: flex;
    gap: 70px;
    align-items: center;
}

.primera{
    padding-top: 50px;
}

.nosotros__presentacion img{
    height: 17rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 15px #0009;
}

.nosotros__pregunta{
    padding-top: 30px ;
    margin: auto;
    text-align: center;
    width: 80%;
}



/* ---- END NOSOTROS ---- */
