<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Perritos</title>
</head>
<body>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <h1>Perros Disponibles para Adopción</h1>
    <ul>
        {% for perro in perros %}
            <li>
                <h2>{{ perro.nombre }}</h2>
                <p>Género: {% if perro.genero == 1 %}Macho{% else %}Hembra{% endif %}</p>
                <p>Edad: {{ perro.edad }} años</p>
                <p>Historia: {{ perro.historia }}</p>
                {% if perro.primera_foto %}
                    <img src="{{ perro.primera_foto.imagen }}" alt="Foto de {{ perro.nombre }}" style="width:200px;height:auto;">
                {% else %}
                    <p>Sin foto disponible</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <!-- Mostrar la página actual y el número total de páginas -->
    <p>Página {{ current_page }} de {{ total_pages }}</p>

    <!-- Botón "Anterior" -->
    {% if has_previous %}
        <a href="?page={{ current_page|add:-1 }}">Anterior</a>
    {% endif %}

    <!-- Botón "Siguiente" -->
    {% if has_next %}
        <a href="?page={{ current_page|add:1 }}">Siguiente</a>
    {% endif %}

</body>
</html>
