{% extends 'nav.html' %}
{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %} {{ perro.nombre }} {% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">  <!-- CSS específico para main.html -->
{% endblock %}

{% block content %}
<main class="dona">
    <section id="login">
        <h1>{{ perros.nombre|upper }}</h1>
        <div class="detail">
            <div class="info__display">
                <p><b>Historia: </b>{{ perros.historia }}</p>
                <p> <b>Género: </b> {% if perros.genero == 1 %}Macho{% else %}Hembra{% endif %}</p>
                <p><b>Edad: </b>{{ perros.edad }} años</p>
                <p><b>Tamaño: </b>{{ perros.talla }}</p>
                <div class="thumbnail-gallery">
                    {% for foto in perros.fotos %}
                        <img src="{{ foto.imagen }}" alt="Foto de perro" class="thumbnail" onclick="changePhoto('{{ foto.imagen }}')" style="cursor: pointer; width: 100px; height: auto;">
                    {% endfor %}
                </div>
            </div>
            <div class="photo__display">
                <img id="main-photo" src="{{ perros.fotos.0.imagen }}" alt="Foto de perro" style="width:400px;height:auto;">
            </div>
        </div>

        

        <div class="adopta__button">
            {% if user %}
            <button data-item-id="{{ perros.id }}" onclick= "redirectToItem('{{ perros.id }}')" rel="noopener noreferrer">Modificar</button>
            {% else %}
            <a href="https://docs.google.com/forms/d/1mi2Gr4Bjh9JPoa_mZPJEKXOJvXYkSc-Em3IRYvwiYF0/viewform?edit_requested=true#responses" target="_blank" rel="noopener noreferrer">Quiero Adoptar</a>
            {% endif %}

        </div>
    </section>
</main>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/detail.js' %}"></script>  <!-- Script específico para main.html -->
{% endblock %}
