{% extends 'nav.html' %}
{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %}Bigotes Felices- Adopta{% endblock %}

{% block extra_css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/adopta.css' %}">  <!-- CSS específico para main.html -->
{% endblock %}

{% block content %}
<main class="adopta">
    <div class="adopta__container">
        <div class="adopta__header">
            <img src="../static/images/perro1.jpg" alt="Foto de Perra" class="adopta__header-img">
            <div class="adopta__header-capa"></div>
            <h1>Adoptá</h1> 
        </div>
        <div class="add">
        {% if user.username %}
            <a class="add-link" href="{% url 'perro-create' %}"> + Agregar nuevo rescatado</a>
        {% endif %}
        </div>
        <div class="adopta__rescatados">
            {% for perro in perros %}        
            <button class="rescatado-container" data-item-id="{{ perro.id }}" onclick= "redirectToItem('{{ perro.id }}')">
                {% if perro.fotos.count > 0 %}
                    <img src="{{ perro.fotos.first.imagen.url }}" class="rescatado-img">
                {% else %}
                    <img src="../static/images/perro2.jpg" class="rescatado-img">  {# Imagen predeterminada si no hay fotos #}
                {% endif %}
                <h2 class="rescatado-nombre">{{ perro.nombre|upper }}</h2>
            </button>
            {% endfor %}
        </div>
        <div class="adopta__pag">
            {% if is_paginated %}
            <p>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;Anterior</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <strong>{{ num }}</strong>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente&gt;</a>
                {% endif %}
            </p> 
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/adopta.js' %}"></script>  <!-- Script específico para main.html -->
{% endblock %}





















<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Perritos</title>
</head>
<body>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <h1>Perros Disponibles para Adopción</h1>
    <ul>
        {% for perro in perros %}
            <li>
                <h2>{{ perro.nombre }}</h2>
                <p>Género: {% if perro.genero == 1 %}Macho{% else %}Hembra{% endif %}</p>
                <p>Edad: {{ perro.edad }} años</p>
                <p>Historia: {{ perro.historia }}</p>
                {% for foto in perro.fotos %}
                    <img src="{{ foto.imagen }}" alt="Foto de {{ perro.nombre }}" style="width:200px;height:auto;">
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    Mostrar la página actual y el número total de páginas 
    <p>Página {{ current_page }} de {{ total_pages }}</p>

     Botón "Anterior" 
    {% if has_previous %}
        <a href="?page={{ current_page|add:-1 }}">Anterior</a>
    {% endif %}

    Botón "Siguiente" 
    {% if has_next %}
        <a href="?page={{ current_page|add:1 }}">Siguiente</a>
    {% endif %}

</body>
</html>-->
