{% extends 'nav.html' %}
{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %} {{ perro.nombre }} {% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">  <!-- CSS específico para main.html -->
{% endblock %}

{% block content %}
<main class="dona">
    <section id="login">
        <h1>Modificar datos de {{perro.nombre}}</h1>
        <div class="detail">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <label for="file_field">Añadir nuevas imágenes:</label>
                    {{ imageform.file_field }}
                </div>
                <button type="submit" class="create__button">Guardar cambios</button>
            </form>
            <h2>Imágenes actuales:</h2>
            <ul class="img__actuales">
                {% for foto in perro_fotos %}
                    <li>
                        <img src="{{ foto.imagen.url }}" alt="Imagen de {{ form.instance.nombre }}" class="img__actual">
                        <label>
                            <input type="checkbox" name="delete_fotos" value="{{ foto.id }}">
                            Eliminar
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/update.js' %}"></script>  <!-- Script específico para main.html -->
{% endblock %}


<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <label for="file_field">Añadir nuevas imágenes:</label>
            {{ imageform.file_field }}
        </div>
        <button type="submit">Guardar cambios</button>
    </form>

    <h2>Imágenes actuales:</h2>
    <ul>
        {% for foto in perro_fotos %}
            <li><img src="{{ foto.imagen.url }}" alt="Imagen de {{ form.instance.nombre }}"></li>
        {% endfor %}
    </ul>

</body>
</html>


{% if messages %}
<div class="alert alert-success" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <label for="file_field">Añadir nuevas imágenes:</label>
        {{ imageform.file_field }}
    </div>
    <button type="submit">Guardar cambios</button>
</form>

<h2>Imágenes actuales:</h2>
<ul>
    {% for foto in perro_fotos %}
        <li><img src="{{ foto.imagen.url }}" alt="Imagen de {{ form.instance.nombre }}"></li>
    {% endfor %}
</ul>
