<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}


    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Formulario principal para el proyecto -->
    
    {{ imageform.as_p }}  <!-- Formulario para las imágenes (uso de ImageForm) -->
    <button type="submit">Cargar perro</button>
</form>

</body>
</html>


