{% extends 'nav.html' %}
{% csrf_token %}

{% block extra_meta %}<meta name="csrf-token" content="{% csrf_token %}">{% endblock %}

{% block title %} {{ perro.nombre }} {% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">  <!-- CSS específico para main.html -->
{% endblock %}

{% block content %}
<main class="dona">

    <section id="login">
        <h1>{{ perro.nombre|upper }}</h1>
        <div class="detail">
            <div class="info__display">
                <p><b>Historia: </b>{{ perro.historia }}</p>
                <p> <b>Género: </b> {% if perro.genero == 1 %}Macho{% else %}Hembra{% endif %}</p>
                <p><b>Edad: </b>{{ perro.edad }} años</p>
                <p><b>Tamaño: </b>{{ perro.talla }}</p>
            </div>
            <div class="photo__display">
                <img id="main-photo" src="{{ perro.fotos.first.imagen.url }}" alt="Foto de perro" style="width:400px;height:auto;">
            </div>
        </div>
        <div class="thumbnail-gallery">
            {% for foto in perro.fotos.all %}
                <img src="{{ foto.imagen.url }}" alt="Foto de perro" class="thumbnail" onclick="changePhoto('{{ foto.imagen.url }}')" style="cursor: pointer; width: 100px; height: auto;">
            {% endfor %}
        </div>
        <div class="adopta__button">
            {% if user.username %}
            <button data-item-id="{{ perro.id }}" onclick= "redirectToItem('{{ perro.id }}')" rel="noopener noreferrer">Modificar</button>
            {% else %}
            <a href="https://docs.google.com/forms/d/1mi2Gr4Bjh9JPoa_mZPJEKXOJvXYkSc-Em3IRYvwiYF0/viewform?edit_requested=true#responses" target="_blank" rel="noopener noreferrer">Quiero Adoptar</a>
            {% endif %}

        </div>
    </section>
</main>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/detail.js' %}"></script>  <!-- Script específico para main.html -->
{% endblock %}
