<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de {{ perro.nombre }}</title>
</head>
<body>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div> 
    {% endif %}


    <h1>{{ perros.nombre }}</h1>
    <p>Género: {% if perros.genero == 1 %}Macho{% else %}Hembra{% endif %}</p>
    <p>Edad: {{ perros.edad }} años</p>
    <p>Historia: {{ perros.historia }}</p>
    <p>Talla: {{ perros.talla }}</p>
    {% for foto in perros.fotos %}
        <img src="{{ foto.imagen }}" alt="Foto de {{ perro.nombre }}" style="width:200px;height:auto;">
    {% endfor %}
</body>
</html>
